<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <label>Web</label>
            <tab>general</tab>
            <resource>Elogic_Blog::web</resource>
            <group id="my_group" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>My Group</label>
                <field id="first" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>First</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="second" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Second</label>
                </field>
            </group>
        </section>
    </system>
</config>
