<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <tab>customer</tab>
            <resource>Elogic_Linkedin::customer</resource>
            <group id="address">
                <field id="linkedin" translate="label" type="select" sortOrder="90" showInDefault="1" canRestore="1">
                    <label>Show Linkedin Url</label>
                    <source_model>Elogic\Linkedin\Model\Config\Source\NoOptionalRequired</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
